body {
    margin-left: 38px;
}

div.logo-principal {
    width: 180px;
    margin: auto;
}
div.logo-principal img {
    width: 180px;
}

/*texte*/
p {
    font-family: "Roboto Slab Light", sans-serif;
    font-size: 16px;
}

.texte-intro {
    width: 75%;
}