
* {
    background: #fcf6ee;
}

body {
    margin-left: 38px;
}

/*en tête*/
div.logo-principal {
    width: 180px;
    margin: auto;
    margin-top: 47px;
}
div.logo-principal img {
    width: 180px;
}


/*texte*/
p {
    font-family: "Roboto Slab Light", sans-serif;
    font-size: 16px;
    color: #3B2E2B;
}

div.texte-intro {
    width: 90%;
    margin-top: 27px;
    padding-left: 10px;
    margin-left: -10px;
    border-left: 1.5px solid #BB9457;
}

.accueil-1 {
    margin-top: 37px;
    width: 90%;
    border: solid 1.5px #BB9457;
    max-width: 380px;
}

.accueil-2, .accueil-3 {
    width: 45%;
    border: solid 1.5px #BB9457;
    max-width: 380px;

}

