
* {
    background: #fcf6ee;
}

main {
    margin-right: 10%;
    margin-left: 10%;
}

/*en tête*/
div.logo-principal {
    width: 180px;
    margin: auto;
    margin-top: 47px;
}

div.logo-principal img {
    width: 180px;
}


/*texte*/
p {
    font-family: "Roboto Slab Light", sans-serif;
    font-size: 16px;
    color: #3B2E2B;
}

/*page d'accueil*/

div.texte-intro {
    width: 100%;
    margin-top: 27px;
    padding-left: 10px;
    border-left: 1.5px solid #BB9457;
    margin-left: -5%;
}


.accueil-1 {
    margin-top: 37px;
    width: 100%;
    max-width: 380px;
}

.accueil-2, .accueil-3 {
    width: 49.2%;
    max-width: 380px;
}

div.premiere-explication {
    margin-top: 37px;
    width: 100%;
    max-width: 611px;
    margin-bottom: 37px;
}

div.citation {
    max-width: 300px;
    width: 100%;
}

div.texte-citation {
    position: relative;
    margin: auto;
    width: 220px;
}

div.texte-citation p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 17px;
}

div.guillemet1, div.guillemet2 {
    font-family: "Roboto Slab Light", sans-serif;
    font-size: 36px;
    width: 11px;
    height: 19px;
    position: relative;
    background: transparent;

}

div.guillemet1 {
    left: -11px;
    top: 20px;
}

div.guillemet2 {
    left: 163px;
    top: -27px;
}

/*pied de page*/

div.logos {
    background-color: #9AADBF;
    height: 194px;
    width: 100%;
}

.logo-youtube {
    width: 53px;
    background: transparent;
}

.logo-swisstchoukball {
    width: 65px;
    background: transparent;

}